@font-face {
    font-family: fallout;
    src: url(../fonts/fallout1.TTF);
}

body {
    background: url("../images/background.jpg") no-repeat center fixed;
    background-size: cover;
    color: #6f7;
    width: 400px;
    margin: 125px auto;
    position: relative;
    font-family: fallout;
}

#playZone {
    position: absolute;
    margin-left: 120px;
    clear: both;
    width: 360px;
}

#countdownTimer {
    position: absolute;
    margin-left: 415px;
    margin-top: 395px;
}

@media screen and (max-width: 640px) {
body {
    background: url("../images/background-sm.jpg");
    background-size: cover;
    width: 400px;
    margin: 100px auto;
    position: relative;
}

#playZone {
    position: relative;
    margin: 0;
    clear: both;
    width: 400px;
}

#countdownTimer {
    position: absolute;
}