@font-face {
    font-family: fallout;
    src: url(../fonts/fallout2.TTF);
}

body {
    background: url("../images/background.png") no-repeat center fixed;
    background-size: cover;
    color: #6f7;
    width: 600px;
    margin: 40px auto;
    position: relative;
    font-family: fallout;
}

#main {
    background-image: url("../images/pip-boy.jpg");
    width: 600px;
    height: 493px;
}

#playZone {
    position: absolute;
    margin-left: 225px;
    margin-top: 50px;
    width: 320px;
}

#countdownTimer {
    position: absolute;
    margin-left: 475px;
    margin-top: 410px;
}

@media screen and (max-width: 768px) {
    #main {
        background-size: contain;
    }
    #playZone {
        margin-left: 200px;
        width: 300px;
    }
    #logo {
        width: 300px;
    }
    #countdownTimer {
        margin-left: 450px;
        margin-top: 380px;
    }
}

@media screen and (max-width: 640px) {
    body {
        width: 400px;
        height: 675px;
        background-size: auto;
        margin: 20px auto;
    }
    #main {
        background-image: url("../images/background-sm.jpg");
        width: 400px;
        height: 675px;
    }
    #playZone {
        margin-left: 10px;
        width: 340px;
    }
    #logo {
        width: 340px;
    }
    #countdownTimer {
        margin-left: 300px;
        margin-top: 425px;
    }
}